/* Add this CSS to your existing stylesheet or create a new one */

.cardT{
    background-color: rgb(66, 107, 230);
}
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  select {
    appearance: none;
    /* background: url('down-arrow.png') no-repeat right; */
    background-size: 20px;
    padding-right: 30px;
  }
  
  .btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  